<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <title>title</title>
  <meta content="width=device-width, initial-scale=1.0, user-scalable=no" name="viewport">
  <style>
    @import url(https://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
    body {
      font-family: 'Noto Sans Japanese', serif;
      font-weight: 100;
    }
  </style>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/app.css">
</head>
<body>

{{ template "partials/header.html" . }}

<div class="mb-content">
  {{.Content}}
</div>

<footer class="mb-footer">
  HAKASHUN
</footer>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.9.1/highlight.min.js"></script>
<script>
  var globalVar;
  /**
   * Constructor for <code>AjaxRequest</code> class
   * @param url the url for the request<p/>
   */
  function AjaxRequest(url) {
    var urls = [ "www.cnn.com", 5, globalVar];
    this.request = new XMLHttpRequest();
    url = url.replace(/^\s*(.*)/, "$1"); // skip leading whitespace
    /* check the url to be in urls */
//    var a = "\u1111\z\n\u11";
    this.foo = new function() {};
    foo();
  }

  $(function () {
    $('pre code').each(function (index, block) {
      hljs.highlightBlock(block);
    });
  });
</script>
</body>
</html>
