<!DOCTYPE html>
<html>
<head>
  {{ template "partials/head.html" . }}
</head>
<body id="default-single">

{{ template "partials/header.html" . }}

<p class="mb-post-date">
  {{ .Date.Format "January 02,2006" }}
</p>

<div class="mb-content">
  {{.Content}}
</div>

<div class="mb-tags">
  {{ range .Params.tags }}
  <a class="mb-tags-item" href="/manabi/tags/{{ . | urlize }}">{{ . }}</a>
  {{ end }}
</div>

{{if or .Next .Prev}}
<div class="mb-pagination">
  {{with .Next}}
  <a class="mb-button mb-pagination-item mb-pagination-prev" href="{{ .Permalink }}">&larr; Prev</a>
  {{end}}

  {{with .Prev}}
  <a class="mb-button mb-pagination-item mb-pagination-next" href="{{ .Permalink }}">Next &rarr; </a>
  {{end}}
</div>
{{ end }}

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.9.1/highlight.min.js"></script>
<script>
  $(function () {
    $('pre code').each(function (index, block) {
      hljs && hljs.highlightBlock(block);
    });
  });
</script>
</body>
</html>
