<meta charset='utf-8'>
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
<title>title</title>
<meta content="width=device-width, initial-scale=1.0, user-scalable=no" name="viewport">
<style>
  /*
   * Noto Sans Japanese (japanese) http://www.google.com/fonts/earlyaccess
   */
  @font-face {
    font-family: 'Noto Sans Japanese';
    font-style: normal;
    font-weight: 100;
    src: url('/font/NotoSansCJKjp-Thin-sub.eot');
    src: url('/font/NotoSansCJKjp-Thin-sub.eot?#iefix') format('embedded-opentype'),
    url('/font/NotoSansCJKjp-Thin-sub.woff') format('woff'),
    url('/font/NotoSansCJKjp-Thin-sub.otf')  format('opentype');
  }
  @font-face {
    font-family: 'Noto Sans Japanese';
    font-style: normal;
    font-weight: 200;
    src: url('/font/NotoSansCJKjp-Light-sub.eot');
    src: url('/font/NotoSansCJKjp-Light-sub.eot?#iefix') format('embedded-opentype'),
    url('/font/NotoSansCJKjp-Light-sub.woff') format('woff'),
    url('/font/NotoSansCJKjp-Light-sub.otf')  format('opentype');
  }
  @font-face {
    font-family: 'Noto Sans Japanese';
    font-style: normal;
    font-weight: 300;
    src: url('/font/NotoSansCJKjp-DemiLight-sub.eot');
    src: url('/font/NotoSansCJKjp-DemiLight-sub.eot?#iefix') format('embedded-opentype'),
    url('/font/NotoSansCJKjp-DemiLight-sub.woff') format('woff'),
    url('/font/NotoSansCJKjp-DemiLight-sub.otf')  format('opentype');
  }
  @font-face {
    font-family: 'Noto Sans Japanese';
    font-style: normal;
    font-weight: 400;
    src: url('/font/NotoSansCJKjp-Regular-sub.eot');
    src: url('/font/NotoSansCJKjp-Regular-sub.eot?#iefix') format('embedded-opentype'),
    url('/font/NotoSansCJKjp-Regular-sub.woff') format('woff'),
    url('/font/NotoSansCJKjp-Regular-sub.otf')  format('opentype');
  }
  @font-face {
    font-family: 'Noto Sans Japanese';
    font-style: normal;
    font-weight: 500;
    src: url('/font/NotoSansCJKjp-Medium-sub.eot');
    src: url('/font/NotoSansCJKjp-Medium-sub.eot?#iefix') format('embedded-opentype'),
    url('/font/NotoSansCJKjp-Medium-sub.woff') format('woff'),
    url('/font/NotoSansCJKjp-Medium-sub.otf')  format('opentype');
  }
  @font-face {
    font-family: 'Noto Sans Japanese';
    font-style: normal;
    font-weight: 700;
    src: url('/font/NotoSansCJKjp-Bold-sub.eot');
    src: url('/font/NotoSansCJKjp-Bold-sub.eot?#iefix') format('embedded-opentype'),
    url('/font/NotoSansCJKjp-Bold-sub.woff') format('woff'),
    url('/font/NotoSansCJKjp-Bold-sub.otf')  format('opentype');
  }
  @font-face {
    font-family: 'Noto Sans Japanese';
    font-style: normal;
    font-weight: 900;
    src: url('/font/NotoSansCJKjp-Black-sub.eot');
    src: url('/font/NotoSansCJKjp-Black-sub.eot?#iefix') format('embedded-opentype'),
    url('/font/NotoSansCJKjp-Black-sub.woff') format('woff'),
    url('/font/NotoSansCJKjp-Black-sub.otf')  format('opentype');
  }
  body {
    font-family: 'Noto Sans Japanese', serif;
    font-weight: 200;
  }
</style>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/app.css">
