/*
 * Noto Sans Japanese (japanese) http://www.google.com/fonts/earlyaccess
 */
@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 100;
  src: url('/manabi/font/NotoSansCJKjp-Thin-sub.eot');
  src: url('/manabi/font/NotoSansCJKjp-Thin-sub.eot?#iefix') format('embedded-opentype'),
  url('/manabi/font/NotoSansCJKjp-Thin-sub.woff') format('woff'),
  url('/manabi/font/NotoSansCJKjp-Thin-sub.otf')  format('opentype');
}
@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 200;
  src: url('/manabi/font/NotoSansCJKjp-Light-sub.eot');
  src: url('/manabi/font/NotoSansCJKjp-Light-sub.eot?#iefix') format('embedded-opentype'),
  url('/manabi/font/NotoSansCJKjp-Light-sub.woff') format('woff'),
  url('/manabi/font/NotoSansCJKjp-Light-sub.otf')  format('opentype');
}
@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 300;
  src: url('/manabi/font/NotoSansCJKjp-DemiLight-sub.eot');
  src: url('/manabi/font/NotoSansCJKjp-DemiLight-sub.eot?#iefix') format('embedded-opentype'),
  url('/manabi/font/NotoSansCJKjp-DemiLight-sub.woff') format('woff'),
  url('/manabi/font/NotoSansCJKjp-DemiLight-sub.otf')  format('opentype');
}
@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 400;
  src: url('/manabi/font/NotoSansCJKjp-Regular-sub.eot');
  src: url('/manabi/font/NotoSansCJKjp-Regular-sub.eot?#iefix') format('embedded-opentype'),
  url('/manabi/font/NotoSansCJKjp-Regular-sub.woff') format('woff'),
  url('/manabi/font/NotoSansCJKjp-Regular-sub.otf')  format('opentype');
}
@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 500;
  src: url('/manabi/font/NotoSansCJKjp-Medium-sub.eot');
  src: url('/manabi/font/NotoSansCJKjp-Medium-sub.eot?#iefix') format('embedded-opentype'),
  url('/manabi/font/NotoSansCJKjp-Medium-sub.woff') format('woff'),
  url('/manabi/font/NotoSansCJKjp-Medium-sub.otf')  format('opentype');
}
@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 700;
  src: url('/manabi/font/NotoSansCJKjp-Bold-sub.eot');
  src: url('/manabi/font/NotoSansCJKjp-Bold-sub.eot?#iefix') format('embedded-opentype'),
  url('/manabi/font/NotoSansCJKjp-Bold-sub.woff') format('woff'),
  url('/manabi/font/NotoSansCJKjp-Bold-sub.otf')  format('opentype');
}
@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 900;
  src: url('/manabi/font/NotoSansCJKjp-Black-sub.eot');
  src: url('/manabi/font/NotoSansCJKjp-Black-sub.eot?#iefix') format('embedded-opentype'),
  url('/manabi/font/NotoSansCJKjp-Black-sub.woff') format('woff'),
  url('/manabi/font/NotoSansCJKjp-Black-sub.otf')  format('opentype');
}
